[workspace]
authors = ["Damineni Hemanth Satya Veer <hemanthdamineni@gmail.com>"]
name = "AI Japanese Learning"
version = "0.1.0"

channels = ["pytorch", "conda-forge", "main"]
pypi-options = { index-url = "https://pypi.org/simple" }
platforms = ["win-64", "linux-64"]

[tasks]

[dependencies]
python = "*"

# Torch stack
pytorch = "*"
torchvision = "*"
torchaudio = "*"
cpuonly = "*"

# Conda packages
flask = "*"
flask_cors = "*"
transformers = "*"
gtts = "*"
jaconv = "*"
ffmpeg-python = "*"
pip = ">=25.3,<26"
huggingface_hub = ">=0.36.0,<0.37"

[pypi-dependencies]
fugashi = "*"
soundfile = "*"
unidic-lite = "*"
langchain-community = "*"
sentencepiece = "*"
langchain-ollama = "*"
piper-tts = ">=1.3.0, <2"
huggingface-hub = "*"
